<a href="https://colab.research.google.com/github/CapiAlex/Momento3_Producto_1500/blob/main/LimpiezaBoeing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [6]:
datos = pd.read_csv('OrdersandDeliveries.csv')

In [7]:
datos.head(10)

,Country,Customer Name,Delivery Year,Engine,Model Series,Order Month,Order Year,Region,Delivery Total,Order Total,Unfilled Orders
0,Afghanistan,Ariana Afghan Airlines,1968,PW,727,Mar,1968,Central Asia,1,1,NaN
1,Afghanistan,Ariana Afghan Airlines,1970,PW,727,Apr,1969,Central Asia,1,1,NaN
2,Afghanistan,Ariana Afghan Airlines,1979,GE,DC-10,Sep,1978,Central Asia,1,1,NaN
3,Afghanistan,Ariana Afghan Airlines,NaN,CF,737-700,Nov,2005,Central Asia,0,4,NaN
4,Algeria,Air Algerie,1974,PW,727,Jan,1974,Africa,1,1,NaN
5,Algeria,Air Algerie,1974,PW,737-200,Jan,1974,Africa,1,1,NaN
6,Algeria,Air Algerie,1975,PW,727,Jan,1974,Africa,1,1,NaN
7,Algeria,Air Algerie,1975,PW,737-200,Jan,1974,Africa,2,2,NaN
8,Algeria,Air Algerie,2015,CF,737-800,Jan,2014,Africa,2,2,NaN
9,Algeria,Air Algerie,2016,CF,737-800,Jan,2014,Africa,6,6,NaN

In [8]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9073 entries, 0 to 9072
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          9073 non-null   object
 1   Customer Name    9073 non-null   object
 2   Delivery Year    8048 non-null   object
 3   Engine           9073 non-null   object
 4   Model Series     9073 non-null   object
 5   Order Month      9073 non-null   object
 6   Order Year       9073 non-null   object
 7   Region           9047 non-null   object
 8   Delivery Total   9073 non-null   object
 9   Order Total      9073 non-null   object
 10  Unfilled Orders  338 non-null    object
dtypes: object(11)
memory usage: 779.8+ KB

In [9]:
datos.isnull()

,Country,Customer Name,Delivery Year,Engine,Model Series,Order Month,Order Year,Region,Delivery Total,Order Total,Unfilled Orders
0,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
9068,False,False,False,False,False,False,False,False,False,False,True
9069,False,False,False,False,False,False,False,False,False,False,True
9070,False,False,False,False,False,False,False,False,False,False,True
9071,False,False,False,False,False,False,False,False,False,False,True
9072,False,False,False,False,False,False,False,False,False,False,False

In [15]:
datos[datos['Unfilled Orders'].isnull()]

,Country,Customer Name,Delivery Year,Engine,Model Series,Order Month,Order Year,Region,Delivery Total,Order Total,Unfilled Orders
0,Afghanistan,Ariana Afghan Airlines,1968,PW,727,Mar,1968,Central Asia,1,1,NaN
1,Afghanistan,Ariana Afghan Airlines,1970,PW,727,Apr,1969,Central Asia,1,1,NaN
2,Afghanistan,Ariana Afghan Airlines,1979,GE,DC-10,Sep,1978,Central Asia,1,1,NaN
3,Afghanistan,Ariana Afghan Airlines,NaN,CF,737-700,Nov,2005,Central Asia,0,4,NaN
4,Algeria,Air Algerie,1974,PW,727,Jan,1974,Africa,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9067,Zambia,Zambia Airways,1984,GE,DC-10,Nov,1983,Africa,1,1,NaN
9068,Zimbabwe,Air Zimbabwe,1987,PW,737-200,Jan,1987,Africa,2,2,NaN
9069,Zimbabwe,Air Zimbabwe,1990,PW,767-200ER,Mar,1989,Africa,1,1,NaN
9070,Zimbabwe,Air Zimbabwe,1989,PW,767-200ER,Jul,1988,Africa,1,1,NaN
9071,Zimbabwe,Air Zimbabwe,1986,PW,737-200,Dec,1986,Africa,1,1,NaN

In [20]:
A = datos.shape[0]
datos.dropna(subset = ['Unfilled Orders'], inplace=True)
B = datos.shape[0]
A - B

0

In [23]:
datos[datos['Unfilled Orders'].isnull()]

Empty DataFrame
Columns: [Country, Customer Name, Delivery Year , Engine, Model Series, Order Month, Order Year, Region, Delivery Total, Order Total, Unfilled Orders]
Index: []

In [25]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 338 entries, 71 to 9072
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          338 non-null    object
 1   Customer Name    338 non-null    object
 2   Delivery Year    1 non-null      object
 3   Engine           338 non-null    object
 4   Model Series     338 non-null    object
 5   Order Month      338 non-null    object
 6   Order Year       338 non-null    object
 7   Region           338 non-null    object
 8   Delivery Total   338 non-null    object
 9   Order Total      338 non-null    object
 10  Unfilled Orders  338 non-null    object
dtypes: object(11)
memory usage: 31.7+ KB

In [31]:
datos[datos['Delivery Year '].isnull()]

,Country,Customer Name,Delivery Year,Engine,Model Series,Order Month,Order Year,Region,Delivery Total,Order Total,Unfilled Orders
71,Argentina,Aerolineas Argentinas,NaN,CF,737 MAX,Sep,2016,South America,0,9,9
152,Australia,BDS Australia P-8,NaN,CF,737-800A,Mar,2021,Oceania,0,2,2
185,Australia,Qantas Airways,NaN,GE,787-9,May,2018,Oceania,0,3,3
290,Australia,Virgin Australia Airlines,NaN,CF,737 MAX,Nov,2020,Oceania,0,25,25
363,Azerbaijan,Silk Way West Airlines,NaN,GE,777F,Apr,2021,Central Asia,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
8866,USA,UPS,NaN,GE,767-300F,Dec,2021,North America,0,19,19
8991,USA,Western Global Airlines Inc,NaN,GE,777F,Jan,2022,North America,0,2,2
9050,Vietnam,Bamboo Airways,NaN,NS,787-9,Jan,2019,Southeast Asia,0,10,10
9051,Vietnam,VietJet Air,NaN,CF,737 MAX,May,2016,Southeast Asia,0,100,100
9052,Vietnam,VietJet Air,NaN,CF,737 MAX,Dec,2018,Southeast Asia,0,100,100

In [32]:
datos = datos.fillna({'Delivery Year ': 'N/A'})

In [33]:
datos[datos['Delivery Year '].isnull()]

Empty DataFrame
Columns: [Country, Customer Name, Delivery Year , Engine, Model Series, Order Month, Order Year, Region, Delivery Total, Order Total, Unfilled Orders]
Index: []

In [34]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 338 entries, 71 to 9072
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          338 non-null    object
 1   Customer Name    338 non-null    object
 2   Delivery Year    338 non-null    object
 3   Engine           338 non-null    object
 4   Model Series     338 non-null    object
 5   Order Month      338 non-null    object
 6   Order Year       338 non-null    object
 7   Region           338 non-null    object
 8   Delivery Total   338 non-null    object
 9   Order Total      338 non-null    object
 10  Unfilled Orders  338 non-null    object
dtypes: object(11)
memory usage: 31.7+ KB

In [35]:
datos.to_csv('Boeing_limpio.csv', sep=';', index = False)